//- -----REQUIRED VARIABLES-----
//- store: object {
        //- name: string
        //- address: string
        //- capacity: maximum store capacity
        //- inline: number of tickets in the store queue (inside = false)
//- }
//- inside: number of tickets inside the store (inside = true)

html(lang="en")
    head
        include include/head.pug
        title Store Overview - Customers LineUp
    body.alt
        h1 Store overview
        
        div.btn-floating-container
            a.btn-floating.btn-large.waves-effect.waves-dark(href="/logout")
                i.material-icons exit_to_app

        div.report-wrapper
            div.report-container
                h2 Inside
                span.report #{inside}
                span.report.minor= "/" + store.capacity
            div.report-container
                h2 In line
                span.report #{store.inline}

        section.main-container.z-depth-3
            div.store-details
                h1 #{store.name}
                h2 #{store.address}
            a#scan-btn.waves-effect.waves-light.btn.primary Scan Ticket
            a.waves-effect.waves-light.btn.secondary(href="/overview/ticket/issue") Issue Ticket
            h3 New regulations? 
                a#update-btn(href="") Update Capacity
        
        section.main-container.modal-container.z-depth-4
            h1 Insert the new store capacity
            form#update-form.input-form.large(method="POST" action="/overview/capacity")
                div.input-field
                    input#capacity.validate(name="capacity" type="number" placeholder="New capacity" required)
            div
                button#update-form.waves-effect.waves-light.btn.primary(type="submit" form="update-form") Update Capacity
                a#close-update-btn.waves-effect.waves-light.btn.secondary Cancel

        section#camera-container.camera-container.z-depth-4
            a#close-camera-btn.btn-floating.btn-large.waves-effect.waves-dark.top.right
                i.material-icons close
            video#camera-feed.camera-feed
        
        form#form.hidden-form(method="POST" action="/overview/ticket/scan")
            input#ticket(name="ticket" type="hidden")
        
        include include/script.pug
        script(type="module" src="/js/overview.js")