//- -----REQUIRED VARIABLES------
//- position: bool, indicates if the user provided his position
//- inQueue: bool, indicates if the user has already a queue ticket
//- store: object {
        //- vat: string, id of the store
        //- name: string
        //- distance: between user's position and store position in meters (if position = true)
        //- address: string
        //- inline: number of tickets in the store queue (inside = false)
//- }

doctype html
html(lang="en")
    head
        include include/head.pug
        title #{store.name} - Customers LineUp
    body.z-depth-4.alt.no-margin
        h1 Here, the store you requested
        div.btn-floating-container
            a.btn-floating.btn-large.waves-effect.waves-dark(href="/explore")
                i.material-icons close

        section.bottom-container.relative-container.mid.z-depth-3
            div.store-details
                h1 #{store.name}
                h2 #{store.address}

                if store.distance
                    div.info-container
                        i.material-icons directions_walk
                        h2.ellipsis 
                            if store.distance >= 1000
                                b #{(store.distance / 1000).toFixed(1)} 
                                | km away
                            else
                                b #{store.distance.toFixed(0)} 
                                | m away
                
                div.info-container
                    i.material-icons group
                    h2.ellipsis 
                        b #{store.inline} 
                        | users in line
            
            form#form.hidden-form(method="POST" action="queue/join")
                input(name="store" type="hidden" value=store.vat)
            if !inQueue
                button#form-btn.waves-effect.waves-light.btn.primary(type="submit" form="form") Join the Queue
            else
                button.waves-effect.waves-dark.btn.disable(data-msg="You can be in one queue at a time.") Join the Queue

        include include/script.pug
